@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black !important;
    font-family: 'Roboto', sans-serif;}
header{
    width: 100%;
    height: 50px;
    position: absolute !important;
    z-index: 1;
}
nav{
    height: 100% !important;
    width: 100%;
    position: absolute !important;
}
.navbar-brand{
    max-width: 150px !important;
}
.first{
    background-image: url("/assets/EG-en-20220822-popsignuptwoweeks-perspective_alpha_website_small.jpg") !important;
    height: 700px !important;
    width: 100% !important;
    background-position: center !important;
    background-size: contain;
    position: relative !important;
    border-bottom: solid 2px rgb(29, 29, 29);
}
section{
    border-bottom: 5px solid rgb(49, 49, 49) !important;

}
.ui-select{
    background-color: black !important;
    text-align: center;
    color: white;
    padding: 7px;
    border: 1px solid rgb(49, 49, 49);
}
.dim{
    background-color: rgba(0, 0, 0, 0.628) !important;
    width: 100% ;
    height: 100%;
    position: absolute;
}
.text{
    font-size: 30px;
}
.search{
    font-size: 15px;
    padding: 5px;
    width: 20%;
}
.red{
    background-color: #e50914;
}
.btn-danger{
    background-color: #e50914 !important; 
}
footer{
    overflow: hidden !important;
}
footer ul{
    overflow: hidden !important;
}
.our-story-card-video{
    margin: 0 auto;
    position: absolute;
    display: flex !important;
    justify-self: center !important;
    align-self: center !important;
    width: 43%;
    height: 45%;
}
@media (max-width:850px) {
    /* .first{
        flex-direction: column;
        font-size: 10px !important;
    } */
    .first h1{
        font-size: 25px !important;
        width: 100% !important;
    }
    .btn2{
        font-size: 10px !important;
        width: 100px !important;
    }
    form{
        font-size: 10px !important;
    }
    .child{
        display: flex !important;
        flex-direction: column !important;
        width: 100%;
    }
    .img-fluid{
        max-width: 200px !important;
    }
    .our-story-card-video{
        height: auto;
    }
    .second{
        display: flex;
        flex-direction: column !important;
        font-size: 20px !important;
    }
    .display-4{
        font-size: 20px !important;
    }
    .sec{
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }
    .sec h1{
        font-size: 20px !important;
    }
    .sec p{
        font-size: 10px !important;
    }
    .accordion-button{
        font-size: 10px !important;
        width: 100% !important;

    }
    .accordion{
        font-size: 10px !important;
        width: 100% !important;
    }
    .accordion-header,.accordion-item{
        font-size: 10px !important;
    }
    .acc{
        width: 100% !important;
    }
    footer{
        overflow: hidden !important;
        margin: 0 !important;
    }
}
.accordion{
    width: 75% !important;
    background-color: black !important;
}
.accordion-item{
    width: 50% !important;
    text-align: center !important;
    margin: auto !important;
    background-color: black !important;
}
.accordion-header{
    background-color: black !important;
}
.accordion-button{
    background-color: rgb(34, 34, 34) !important;
    color: white !important;
    font-size: 30px !important;
    width: 100% !important;
}
.accordion-body{
    color: white !important;
    background-color: rgb(34, 34, 34) !important;
}
.h25{
    height: 100px !important;
    position: relative !important;
}
.firstx{
    background-size: cover !important;
    background-attachment:fixed !important;
    width: 100% !important;
    height: 530px !important;
    position: relative !important;
    border-bottom: solid 2px rgb(29, 29, 29);  
}
.display-6{
    font-size: 20px !important;
}
.display-7{
    font-size: 18px !important;
}
.next{
    font-size: 30px !important;
}
.payment{
    font-size: 30px !important;
}
.payment input{
    padding: 15px !important;
    margin: 10px;
    font-size: 17px !important;
}
.display-8{
    font-size: 10px !important;
}

img {
    max-width: 100%;
  }
  
  h1 {
    padding-top: 60px;  
  }
  
  .wrapper {
    margin: 0;
    padding: 0;
  }
  
  /* HEADER */
  header {
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     "nt mn mn sb . . . "; 
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;  
  }
  
  .netflixLogo {
    grid-area: nt;
    object-fit: cover;
    width: 100px;
    max-height: 100%;
    
    padding-left: 30px;
    padding-top: 0px;  
  }
  
  .netflixLogo img {  
    height: 35px;     
  }
  
  #logo {
    color: #E50914;  
    margin: 0; 
    padding: 0; 
  }
  
  
  .main-nav {
    grid-area: mn;
    padding: 0 30px 0 20px;
  }
  
  .main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;  
  }
  
  .main-nav a:hover {
    color: var(--dark);
  }
  
  .sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
  }
  
  .sub-nav a:hover {
    color: var(--dark);
  }
  
  
  /* MAIN CONTIANER */
  .main-container {
    padding: 50px;
  }
  
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
  .box a {
    transition: transform .3s;  
  }
  
  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  .box img {
    border-radius: 2px;
  }
  
  /* LINKS */
  .link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
  .logos a{
    padding: 10px;
  }
  
  .logo {
    color: var(--dark);
  }
  
  
  /* FOOTER */
  footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }
  
  /* MEDIA QUERIES */
  
  @media(max-width: 900px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
  
  }
  
  @media(max-width: 700px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
     
  }
  
  @media(max-width: 500px) {
  
    .wrapper {
      font-size: 15px;
    }
  
    header {
      margin: 0;
      padding: 20px 0 0 0;
      position: static;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 
      "nt"    
      "mn"
      "sb";
      text-align: center;
    }
  
    .netflixLogo {
      max-width: 100%;
      margin: auto;
      padding-right: 20px;
    }
  
    .main-nav {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  
    h1 {
      text-align: center;
      font-size: 18px;
    }
  
   
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;    
    }
  
    .box a:hover {
      transition: transform .3s;
      -ms-transform: scale(1);
      -webkit-transform: scale(1);  
      transform: scale(1.2);
    }
  
    .logos {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      font-size: 15px;
    }  
}
.bg-black2{
    background-color: rgb(19, 19, 19) !important;
}